.n3tHiddenCaptchaField {
  display: inline-block;
  position: absolute;
  width: 0;
  overflow: hidden;
}

.n3tHiddenCaptchaField input {
  position: absolute;
  left: 10px;
}

.n3tHiddenCaptchaDescription {
  padding-top: 5px;
  margin: 0;
}